.subheader {
    @include flex(row, center, center);
    background-color: $color-contrast;
    height: calc(#{$header-height / 2});
    overflow: hidden;
    position: relative;

    @include media(tablet) {
        height: calc(#{$header-height / 2} * 0.8);
    }

    @include media(phone) {
        height: calc(#{$header-height / 2} * 0.8);
    }

    &-text {
        width: 100%;
        position: absolute;
        color: $color-white;
        font-size: $font-lg;
        transform: translateX(100%);
        animation: subheader 15s linear infinite;

        @include media(tablet) {
            font-size: $font-sm;
        }

        @include media(phone) {
            font-size: $font-sm;
        }
    }
}

@-moz-keyframes subheader {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes subheader {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes subheader {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}